schemas/LiturgicalCalendar.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://www.bibleget.io/catholicliturgy"
  attributeFormDefault="unqualified"
  elementFormDefault="qualified">
  <xs:element name="LiturgicalCalendar">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Settings">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Year" type="xs:positiveInteger" />
              <xs:element name="Epiphany">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:restriction base="xs:string">
                      <xs:enumeration value="SUNDAY_JAN2_JAN8" />
                      <xs:enumeration value="JAN6" />
                    </xs:restriction>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="Ascension">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:restriction base="xs:string">
                      <xs:enumeration value="THURSDAY" />
                      <xs:enumeration value="SUNDAY" />
                    </xs:restriction>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="CorpusChristi">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:restriction base="xs:string">
                      <xs:enumeration value="THURSDAY" />
                      <xs:enumeration value="SUNDAY" />
                    </xs:restriction>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:string>
              <xs:element name="Locale" type="xs:string" />
              <xs:element name="ReturnType">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:restriction base="xs:string">
                      <!-- <xs:enumeration value="JSON" /> -->
                      <!-- <xs:enumeration value="ICS" /> -->
                      <xs:enumeration value="XML" />
                    </xs:restriction>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="CalendarType">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:restriction base="xs:string">
                      <xs:enumeration value="CIVIL" />
                      <xs:enumeration value="LITURGICAL" />
                    </xs:restriction>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="EternalHighPriest" type="xs:boolean" />
              <xs:element name="NationalCalendar" minOccurs="0" type="xs:string" />
              <xs:element name="DiocesanCalendar" minOccurs="0" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Metadata">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Version" type="xs:float" />
              <xs:element name="Timestamp" type="xs:long" />
              <xs:element name="DateTime" type="xs:dateTime" />
              <xs:element name="RequestHeaders">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Cookie" minOccurs="0" type="xs:string" />
                    <xs:element name="Priority" minOccurs="0" type="xs:string" />
                    <xs:element name="Accept-Language" minOccurs="0" type="xs:string" />
                    <xs:element name="Accept-Encoding" minOccurs="0" type="xs:string" />
                    <xs:element name="Sec-Fetch-Dest" minOccurs="0" type="xs:string" />
                    <xs:element name="Sec-Fetch-User" minOccurs="0" type="xs:string" />
                    <xs:element name="Sec-Fetch-Mode" minOccurs="0" type="xs:string" />
                    <xs:element name="Sec-Fetch-Site" minOccurs="0" type="xs:string" />
                    <xs:element name="Accept" minOccurs="0" type="xs:string" />
                    <xs:element name="User-Agent" minOccurs="0" type="xs:string" />
                    <xs:element name="Upgrade-Insecure-Requests" minOccurs="0" type="xs:string" />
                    <xs:element name="Sec-Ch-Ua-Platform" minOccurs="0" type="xs:string" />
                    <xs:element name="Sec-Ch-Ua-Mobile" minOccurs="0" type="xs:string" />
                    <xs:element name="Sec-Ch-Ua" minOccurs="0" type="xs:string" />
                    <xs:element name="Cache-Control" minOccurs="0" type="xs:string" />
                    <xs:element name="Pragma" minOccurs="0" type="xs:string" />
                    <xs:element name="Connection" minOccurs="0" type="xs:string" />
                    <xs:element name="X-Accel-Internal" minOccurs="0" type="xs:string" />
                    <xs:element name="Host" minOccurs="0" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Solemnities">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="LitCalEvent" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="date" type="xs:dateTime" />
                          <xs:element name="timezone_type">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:restriction base="xs:byte">
                                  <xs:enumeration value="1" />
                                  <xs:enumeration value="2" />
                                  <xs:enumeration value="3" />
                                </xs:restriction>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="timezone" type="xs:string" />
                        </xs:sequence>
                        <xs:attribute name="eventkey" type="xs:ID" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="FeastsMemorials">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="LitCalEvent" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="date" type="xs:dateTime" />
                          <xs:element name="timezone_type">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:restriction base="xs:byte">
                                  <xs:enumeration value="1" />
                                  <xs:enumeration value="2" />
                                  <xs:enumeration value="3" />
                                </xs:restriction>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="timezone" type="xs:string" />
                        </xs:sequence>
                        <xs:attribute name="eventkey" type="xs:ID" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="LitCal">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="LitCalEvent" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="eventIdx" type="xs:string" />
                    <xs:element name="name" type="xs:string" />
                    <xs:element name="date" type="xs:long" />
                    <xs:element name="color">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="option" minOccurs="0" maxOccurs="3">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:restriction base="xs:string">
                                  <xs:enumeration value="green" />
                                  <xs:enumeration value="red" />
                                  <xs:enumeration value="white" />
                                  <xs:enumeration value="purple" />
                                  <xs:enumeration value="pink" />
                                  <xs:attribute type="xs:byte" name="idx" use="required" />
                                </xs:restriction>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="colorLcl">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="option" minOccurs="0" maxOccurs="3">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute type="xs:byte" name="idx" use="required" />
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="type">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:restriction base="xs:string">
                            <xs:enumeration value="mobile" />
                            <xs:enumeration value="fixed" />
                          </xs:restriction>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="grade">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:restriction base="xs:byte">
                            <xs:enumeration value="0" />
                            <xs:enumeration value="1" />
                            <xs:enumeration value="2" />
                            <xs:enumeration value="3" />
                            <xs:enumeration value="4" />
                            <xs:enumeration value="5" />
                            <xs:enumeration value="6" />
                            <xs:enumeration value="7" />
                          </xs:restriction>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="gradeLcl" type="xs:string" />
                    <xs:element name="displayGrade" type="xs:string" />
                    <xs:element name="common">
                      <xs:complexType mixed="true">
                        <xs:sequence>
                          <xs:element name="option" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute type="xs:byte" name="idx" use="required" />
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="commonLcl" type="xs:string" />
                    <xs:element name="dayOfTheWeek_ISO8601" type="xs:string" />
                    <xs:element name="month" type="xs:byte" />
                    <xs:element name="day" type="xs:byte" />
                    <xs:element name="year" type="xs:positiveInteger" />
                    <xs:element name="monthShort" type="xs:string" />
                    <xs:element name="monthLong" type="xs:string" />
                    <xs:element name="dayOfTheWeekShort" type="xs:string" />
                    <xs:element name="dayOfTheWeekLong" type="xs:string" />
                    <xs:element name="liturgicalYear" minOccurs="0" type="xs:string" />
                    <xs:element name="isVigilMass" minOccurs="0" type="xs:boolean" />
                    <xs:element name="isVigilFor" minOccurs="0" type="xs:string" />
                    <xs:element name="hasVigilMass" minOccurs="0" type="xs:boolean" />
                    <xs:element name="hasVesperI" minOccurs="0" type="xs:boolean" />
                    <xs:element name="hasVesperII" minOccurs="0" type="xs:boolean" />
                    <xs:element name="psalterWeek" minOccurs="0">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:restriction base="xs:byte">
                            <xs:enumeration value="1" />
                            <xs:enumeration value="2" />
                            <xs:enumeration value="3" />
                            <xs:enumeration value="4" />
                          </xs:restriction>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="liturgicalSeason" minOccurs="0" type="xs:string" />
                    <xs:element name="liturgicalSeasonLcl" minOccurs="0" type="xs:string" />
                  </xs:sequence>
                  <xs:attribute name="eventkey" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Messages">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="message" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:short" name="idx" use="required" />
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
